#cardPreviewContent {
  position:absolute;
  border:1px solid #000;
  background:#333;
  display:none;
  color:#fff;

  padding:0px;
  margin:0px;
}
.cardRotate {
  /* Firefox */
  -moz-transform:    rotate( 90deg );
  -moz-transform-origin: 0px 0px;/*260px 260px*/
  /* Chrome,Safari,Opera */
  -webkit-transform: rotate( 90deg );
  -webkit-transform-origin: 0px 0px;/*260px 260px*/
  /* Opera(old) */
  -o-transform:      rotate( 90deg );
  -o-transform-origin: 0px 0px;/*260px 260px*/
  /* IE */
  -ms-transform:     rotate( 90deg );
  -ms-transform-origin: 0px 0px;/*260px 260px*/
  /* CSS3 */
  transform:         rotate( 90deg );
  transform-origin: 0px 0px;/*260px 260px*/

}